<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<h1>Book Management System</h1>
<a href="./listAll">List All Books</a><br><br>
<a href="./searchBookByIdPage">Search Book By ID</a><br><br>
<a href="">Add New Book</a><br><br>
<a href="">Delete Book</a><br><br>
<a href="">Increment Copies</a><br><br>
<a href="">Generate Description</a><br><br>
<a href="">Search Book By Name</a><br><br>
<a href="">Search Book By Author</a><br><br>
<a href="">Delete Book By Name</a><br><br>
</body>
</html>