<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book Management System</h1>
<hr>
<h2>List of Books</h2>
<table border="1">
  <tr>
    <th>Book ID</th>
    <th>Book Name</th>
    <th>Author Name</th>
    <th>No of Copies</th>
    <th>Date of Publishing</th>
  </tr>

  <tr th:each="book : ${books}">
    <td th:text="${book.bookId}"></td>
    <td th:text="${book.bookName}"></td>
    <td th:text="${book.authorName}"></td>
    <td th:text="${book.noOfCopies}"></td>
    <td th:text="${book.dateOfPublishing}"></td>

  </tr>
</table>
<br><br>
<a href="./index">Back to Menu Page</a>

</body>
</html>